<!DOCTYPE html>

<html>
<head>
    <title>Utility Provider Services</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="a2z Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/CustTemp/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--banner slider  -->
    <link href="~/CustTemp/css/JiSlider.css" rel="stylesheet">
    <!-- //banner-slider -->
    <link href="~/CustTemp/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/CustTemp/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <style type="text/css">
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #0C9;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }

        .my-float {
            margin-top: 22px;
        }
    </style>

</head>

<body>
    <div>
        <!-- header -->
        <div class="w3layouts-header">
            <div class="container">

                <div class="logo-nav-agileits">
                    <div class="logo-nav-left">
                        <h1>
                            <a href="#">
                                <span class="fa fa-home"></span>Utility Provider
                                <span class="logo-title">Services</span>
                            </a>
                        </h1>
                    </div>
                    <div class="header-grid-left-wthree">
                        <div class="h3-title">
                            <h3>Service Provider</h3>
                        </div>
                        <ul>
                            <li><a href="~/Home/SpRegistration"><i class="fa fa-user"></i>Sign up</a></li>
                            <li><a href="~/Home/Splogin"><i class="fa fa-user"></i>Login</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="header-grid-left-wthree">
                        <div class="h3-title">
                            <h3>Customer</h3>
                        </div>
                        <ul>

                            <li><a href="~/Home/UserRegistration"><i class="fa fa-user"></i>Sign up</a></li>
                            <li><a href="~/Home/UserLogin"><i class="fa fa-user"></i>Login</a></li>

                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                Menu
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="~/Home/Homepage">Home</a>
                                </li>
                                <li>
                                    <a href="~/Home/Aboutus">about us</a>
                                </li>
                                <li>
                                    <a href="~/Home/Services">services</a>
                                </li>

                                <li>
                                    <a href="~/Home/Contactus">contact us</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header -->
        <!-- banner -->
        <div class="banner-silder">
            <div id="JiSlider" class="jislider">
                <ul>
                    <li>
                        <div class="banner-top banner-top1">
                            <div class="container">
                                <div class="banner-info info2">
                                    <h3>one stop home services</h3>
                                    <p>let us do it for you.</p>

                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="banner-top banner-top2">
                            <div class="container">
                                <div class="banner-info bg3 info2">
                                    <h3>one click repair service</h3>
                                    <p>repair.&nbsp;improve.&nbsp;maintain</p>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner-top banner-top3">
                            <div class="container">
                                <div class="banner-info bg3">
                                    <h3>Property Maintenance Services</h3>
                                    <p>one call does it all.</p>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            @RenderBody()
        </div>
        <!-- //banner bottom -->
        <!-- about -->
        <div class="agile-about-main">

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about -->
    <!--  about bottom -->
    <!--  //about bottom -->
    <!-- footer -->
    <div class="footer-main-w3_agile">
        <div class="footer-dot">
            <div class="container">
                <div class="footer-bottom">
                    <div class="col-md-4 col-sm-6 col-xs-6 footer-grid1 address">
                        <h4>Contact Info</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home" aria-hidden="true"></span>
                                <p>Regina, Saskatchewan, Canada</p>
                            </li>
                            <li>
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                <a>utilityprovider7470@gmail.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <p>(306)999-9999</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 footer-grid1 res">
                        <h4>services</h4>
                        <ul>
                            <li>
                                <a href="#">Home cleaning</a>
                            </li>
                            <li>
                                <a href="#">painting</a>
                            </li>
                            <li>
                                <a href="#">carpentry</a>
                            </li>
                            <li>
                                <a href="#">Plumbering</a>
                            </li>
                            <li>
                                <a href="#">Computer Hardware</a>
                            </li>
                            <li>
                                <a href="#">Electrical</a>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="cpy-footer">
        <div class="container">
            <div class="footer-top">
                <div class="logo-nav-left footer-top1">
                    <h2>
                        <a href="index.html">
                            <span class="fa fa-home logo-ftr"></span>Utility Provider
                            <span class="logo-title">home services</span>
                        </a>
                    </h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cpy-text">

            <p>©2022 Utility Provider Service. All rights reserved</p>

        </div>
        <div>
            <a id="BotPopUp" href="javascript:;" style="padding-top: 1%;" class="float">
                <i class="fa my-float"></i>
                Ask Us!
            </a>
            @Html.Partial("Bot")
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#BotPopUp").click(function () {
                $("#partialModal").modal('show');
            });
        });
    </script>

    <!-- js -->
    <script src="~/CustTemp/js/jquery-2.2.3.min.js"></script>
    <!-- //js-->
    <!--banner-slider-->
    <script src="~/CustTemp/js/JiSlider.js"></script>
    <script>

        $(window).load(function () {
            $('#JiSlider').JiSlider({
                color: '#fff',
                start: 1,
                reverse: false
            }).addClass('ff')
        })
    </script>
    <!-- //banner-slider -->
    <!--search-bar-->
    <script src="~/CustTemp/js/main.js"></script>
    <!--//search-bar-->
    <!-- start-smooth-scrolling -->
    <script src="~/CustTemp/js/move-top.js"></script>
    <script src="~/CustTemp/js/easing.js"></script>
    <script>

        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>

        $(document).ready(function () {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/CustTemp/js/SmoothScroll.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/CustTemp/js/bootstrap.js"></script>

</body>
</html>
