@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="breadcrumbs-w3l">
    <div class="container">
        <span class="breadcrumbs">
            <a href="">Home</a> |
            <span>About us</span>
        </span>
    </div>
</div>
<!-- inner-banner-bottom -->
<div class="w3ls-section">
    <div class="container">
        <div class="col-md-6 inner-banner">
            <h4 class="title-about about text-center">
                leave it to us
                <span>complete</span>
                <span>
                    services
                </span>
            </h4>
        </div>
        <div class="col-md-6 inner-main-bg">
            <div class="inner-bg-layer"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //inner-banner-bottom  -->
<!-- about bottom -->
<div class="agile-about-main">
    <div class="col-md-4 about-left">
        <div class="about-main-bg text-center">
            <h4 class="about-title">Why</h4>
            <h4 class="sub">
                <span>c</span>hoose
                <span>u</span>s?
            </h4>
        </div>
    </div>
    <div class="col-md-8 about-bottom-g1">
        <h4>One Stop Solution for your Requirments</h4>
        <!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
        <div class="about-grid">
            <div class="about-bottom-right">
                <div class="abouthome-grid">
                    <span class="hi-icon hi-icon-archive fa fa-check"> </span>
                </div>
                <div class="about-bottom">
                    <h5>vision</h5>
                  
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="about-bottom-right">
                <div class="abouthome-grid">
                    <span class="hi-icon hi-icon-archive  fa fa-book"> </span>
                </div>
                <div class="about-bottom">
                    <h5>affordable</h5>
                    
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class=" about-bottom-right">
                <div class="abouthome-grid">
                    <span class="hi-icon hi-icon-archive fa fa-photo"> </span>
                </div>
                <div class="about-bottom">
                    <h5>quality</h5>
                   
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class=" about-bottom-right">
                <div class="abouthome-grid">
                    <span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
                </div>
                <div class="about-bottom">
                    <h5>24*7 support</h5>
                   
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="abt-img">
            <img src="CustTemplate/images/a1.png" alt="" class="img-responsive" />
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //about bottom-->
<!-- Stats -->
<div class="w3ls-section  stats">
    <div class="container">
       
    </div>
</div>
<!-- //Stats -->
<!-- about-slid -->
<div class="about-slid">
    <div class="container">
        <h6 class="slid">Professional, Efficient and Reliable Plumbing Services</h6>
    </div>
</div>
<!-- //about-slid -->
<!-- what we do -->
<div id="news" class="w3ls-section">
    <div class="container">
        <h4 class="main-title">what we do?</h4>
        <div class="news-aboutinfo services-main">
            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="">
                            <img src="CustTemplate/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="#">
                            <h4>home Cleaning</h4>
                        </a>
                        <p>We proudly provide maid services to homes, condominiums, and apartments.
                           --> All Rooms,Kitchen,Bathrooms,Bedrooms </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="single.html">
                            <img src="CustTemplate/images/r2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="single.html">
                            <h4> Computer Hardware </h4>
                        </a>
                        <p> We provide complete support, services for Computers and offer consultancy and outsource services and provide single point solutions for your IT needs. </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="single.html">
                            <img src="CustTemplate/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="single.html">
                            <h4>Electrical Service</h4>
                        </a>
                        <p>Install, maintain, and repair electrical wiring, equipment, and fixtures. Ensure that work is in accordance with relevant codes.
                            May install or service street lights, intercom systems, or electrical control systems. </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="single.html">
                            <img src="CustTemplate/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="single.html">
                            <h4>plumbing services</h4>
                        </a>
                        <p> Assemble, install, and repair pipes, fittings, and fixtures of heating, water, and drainage systems, according to specifications.
</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="single.html">
                            <img src="CustTemplate/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="single.html">
                            <h4>electrical services </h4>
                        </a>
                        <p>Install, maintain, and repair electrical wiring, equipment, and fixtures. Ensure that work is in accordance with relevant codes. May install or service street lights, intercom systems, or electrical control systems.
 </p>
                    </div>
                </div>
            </div>

            <div class=" col-md-4 col-sm-6 about-innergrids">
                <div class="agileits-news-gridtext">
                    <div class="news-gridimg">
                        <a href="single.html">
                            <img src="CustTemplate/images/r1.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="news-gridimgtext">
                        <a href="single.html">
                            <h4>painting services </h4>
                        </a>
                        <p>The team of painters will provide top-quality interior and exterior residential and commercial painting services to the local area. The owner of AMC believes
                             that most companies can be profitable and successful if they focus on maintaining customer satisfaction. </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<!-- //what we do -->
