@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2>Gallery</h2>
<div class="breadcrumbs-w3l">
    <div class="container">
        <span class="breadcrumbs">
            <a href="~/Home/Homepage">Home</a> |
            <span>Gallery</span>
        </span>
    </div>
</div>
<!-- //breadcrumbs -->
<!--Gallery  section starts here-->
<div class="gallery  agileinfo w3ls-section" id="gallery">
    <div class="container">
        <h4 class="main-title">Gallery</h4>
    </div>
    <div class="bs-example bs-example-tabs services-main" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a>
            </li>
            <li role="presentation">
                <a href="#Electrician" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Electrician</a>
            </li>
            <li role="presentation">
                <a href="#HomeCleaning" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Home Cleaning</a>
            </li>
            <li role="presentation">
                <a href="#Plumbering" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Plumbering</a>
            </li>
            <li role="presentation">
                <a href="#Carpentry" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Carpentry</a>
            </li>
            <li role="presentation">
                <a href="#Painting" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Painting</a>
            </li>
            <li role="presentation">
                <a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Computer Hardware</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g3.jpg">
                                <img src="~/CustTemp/images/carp1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4   col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g4.jpg">
                                <img src="~/CustTemp/images/carp2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g5.jpg">
                                <img src="~/CustTemp/images/carp3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g6.jpg">
                                <img src="~/CustTemp/images/carp4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec1.jpg">
                                <img src="~/CustTemp/images/elec1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec2.jpg">
                                <img src="~/CustTemp/images/elec2.jpg" alt=" " class="img-responsive" />

                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/ele3.jpg">
                                <img src="~/CustTemp/images/elec3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/">
                                <img src="~/CustTemp/images/elec4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                  

                   
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/ele3.jpg">
                                <img src="~/CustTemp/images/pain3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/">
                                <img src="~/CustTemp/images/pain4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec1.jpg">
                                <img src="~/CustTemp/images/plum1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec2.jpg">
                                <img src="~/CustTemp/images/pain2.jpg" alt=" " class="img-responsive" />

                            </a>
                        </div>
                    </div>
                   
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/ele3.jpg">
                                <img src="~/CustTemp/images/plum3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/">
                                <img src="~/CustTemp/images/plum4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec2.jpg">
                                <img src="~/CustTemp/images/plum2.jpg" alt=" " class="img-responsive" />

                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g5.jpg">
                                <img src="~/CustTemp/images/home1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g6.jpg">
                                <img src="~/CustTemp/images/home2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g1.jpg">
                                <img src="~/CustTemp/images/home3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="images/g2.jpg">
                                <img src="~/CustTemp/images/home4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>

                   
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="~/CustTemp/images/elec1.jpg">
                                <img src="~/CustTemp/images/pain1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>


                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Electrician" aria-labelledby="learning-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/elec1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/elec2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/elec3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/elec4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="HomeCleaning" aria-labelledby="playing-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/home1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/home2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/home3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/home4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Plumbering" aria-labelledby="school-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/plum1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/plum2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/plum3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/plum4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Carpentry" aria-labelledby="learning-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/carp1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/carp2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/carp3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/carp4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Painting" aria-labelledby="playing-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/pain1.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/pain2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/pain3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/pain4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
                <div class="w3_tab_img">
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/hard5.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/hard2.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/hard3.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
                        <div class="demo">
                            <a class="cm-overlay" href="">
                                <img src="~/CustTemp/images/hard4.jpg" alt=" " class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!--Gallery section ends here-->