@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<!-- banner bottom -->
<div class="banner-btm">
    <div class="container">
        <div class="banner-bottom-main">
           
            <div class="col-md-8 banner-btm-grid2">
                <div class="col-md-4 banner-grid2">
                    <div class="banner-subg1">
                        <h3>maintenance</h3>
                        <p> product requires timely service to function properly. Preventive maintenance can save a lot of time and money</p>
                        <span class="fa fa-cog" aria-hidden="true"></span>
                       
                    </div>
                    <div class="banner-subg1">
                        <h3>cleaning</h3>
                        <p>We proudly provide maid services to homes, condominiums, and apartments.
                           --> All Rooms,Kitchen,Bathrooms,Bedrooms</p>
                        <span class="fa fa-check-square-o" aria-hidden="true"></span>
                       
                    </div>
                          
                </div>
                <div class="col-md-4 banner-grid2">
                    <div class="banner-subg1">
                        <h3>repair</h3>
                        <p>We hold expertise in rendering Repair & AMC Service to the clients across the international market. These services are precisely executed by our skilled professionals in tandem with the specifications briefed by our clients.</p>
                        <span class="fa fa-yelp" aria-hidden="true"></span>
                        
                    </div>
                    <div class="banner-subg1">
                        <h3>improvement</h3>
                        <p> We provide complete support, services for your requiremens</p>
                        <span class="fa fa-gg" aria-hidden="true"></span>
                        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //banner bottom -->
<!-- about -->

<!-- //about -->
<!--  about bottom -->
<div class="w3ls-section">
    <div class="container">
        <div class="main-bottom">
            <div class="col-md-6 col-sm-6 mb-left">

            </div>
            <div class="col-md-6 col-sm-6 mb-right">
                <h4>service you can trust</h4>
                <p>protect all your home appliances & systems.</p>
                <a href="~/Home/Services">view all services</a>
            </div>

        </div>
    </div>
</div>
<!--  //about bottom -->
<!-- footer -->