@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<div class="services w3ls-section">
    <div class="container">
        <h4 class="main-title">services offered</h4>
        <div class="services-main">
            <div class="col-md-4 serv-grid1">
                <!-- <h4 class="sub1">your complete home solution</h4> -->
                <h4 class="sub1">services that you need we will provide at your door step</h4>

            </div>
            <div class="col-md-8 serv-grid2">
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/t8.png" alt="" />
                    <h5>electrical service</h5>
                </div>
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/t5.png" alt="" />
                    <h5>plumbing service</h5>
                </div>
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/t3.jpg" alt="" />
                    <h5>Home cleaning</h5>
                </div>
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/images (4).jpg" height="95"  width="100 "alt="" />
                    <h5>Computer Hardware</h5>
                </div>
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/t7.png" alt="" />
                    <h5>painting service</h5>
                </div>
                <div class="col-md-4 serv-sub1">
                    <img src="~/CustTemp/images/t2.jpg" alt="" />
                    <h5>carpentry</h5>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<div class="container">
    <div class="single-left serv-bottom">
        <h5 class="main-title">
            Our services
        </h5>
        <div class="all-comments col-md-6">
            <div class="media-grids">
                <div class="w3l-media">
                    <h5>plumbing services</h5>
                    <div class="media-body">
                        <p>
                            Assemble, install, and repair pipes, fittings, and fixtures of heating, water, and drainage systems, according to specifications.
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>
                <div class="w3l-media">
                    <h5>electrical services</h5>
                    <div class="media-body">
                        <p>
                            Install, maintain, and repair electrical wiring, equipment, and fixtures. Ensure that work is in accordance with relevant codes. 
                            May install or service street lights, intercom systems, or electrical control systems.
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>
                <div class="w3l-media">
                    <h5>painting services</h5>
                    <div class="media-body">
                        <p>
                            The team of painters will provide top-quality interior and exterior residential and commercial painting services to the local area. The owner of AMC believes
                             that most companies can be profitable and successful if they focus on maintaining customer satisfaction.
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>

            </div>


        </div>
       
        <div class="all-comments col-md-6">
            <div class="media-grids">
                <div class="w3l-media">
                    <h5>Carpentry</h5>
                    <div class="media-body">
                        <p>
                            carpenters typically specialize in new-home, townhome, and condominium building and remodeling. 
                            As part of a single job, they might build and set forms for footings, walls, and slabs, and frame and finish exterior walls, roofs, and decks.
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>
                <div class="w3l-media">
                    <h5>Home Cleaning</h5>
                    <div class="media-body">
                        <p>We proudly provide maid services to homes, condominiums, and apartments.
                           --> All Rooms,Kitchen,Bathrooms,Bedrooms
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>
                <div class="w3l-media">
                    <h5>Computer Hardware</h5>
                    <div class="media-body">
                        <p>
                            We provide complete support, services for Computers and offer consultancy and outsource services and provide single point solutions for your IT needs.
                        </p>
                        <a href="~/Home/Gallery"> view more </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="all-comments col-md-12">
            <div class="media-grids">
                <div class="w3l-media">
                   
                    <div class="media-body">
                     
                        <a href="~/Home/ViewServices"> View More All Services </a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>